# This is a basic python test for DS mentoring

In [1]:
import numpy as np

# Structures

## List

### Create list
There are two very well-known ways of creating a list

In [2]:
a = []
for i in range(10):
    a.append(i)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### List Comprehension

In [3]:
a = [i for i in range(10)]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
m_list = ['r', 'i', 'c', 'a', 'r', 'd', 'o']
new_list = []
for k,i in enumerate(m_list):
    new_list.append(str(k)+i)
print(new_list)

['0r', '1i', '2c', '3a', '4r', '5d', '6o']


- Explain what enumerate method does in code above
     - it returns a tuple for each item of the list which contains the count starting by 0 and the item itself.
- Try to do the same but using list comprehension:

In [7]:
# implement list comprehension
n_list = [str(k)+i for k,i in enumerate(m_list)]
n_list

['0r', '1i', '2c', '3a', '4r', '5d', '6o']

## Tuples

In [8]:
b = tuple(a)
print(b)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

### What is the principal difference between lists and tuples? 
      - Lists can be updated, tuples cannot.

## Dict

In [9]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.get("model")

print(x)

Mustang

### If the key does not exit, how can get a default value for instance: False ?

# Conditionals

In [10]:
x = 10
if x % 2 == 0:
    print("par")
else:
    print("impar")

par

### How can we change the conditionals above to conditional expression? (tern√°rio)

# Functions

Create a basis functions for calculate the average from array

In [11]:
data = np.array([13, 63, 5, 378, 58, 40])

def average(my_array):
  return sum(data)/len(data)

average(data)

92.83333333333333

# Classes

Define class MyAvg, create two variables: id (shared), d is init variable and avg method

In [12]:
class MyAvg:
    
    def __init__(self,data):
        self.id = self        # init variable asocciated two all instances 
        self.d = data

    def avg(self): # method for estimating the average
        return sum(self.d)/len(self.d)

a and b are instances of MyAvg class. To instantiate a class is to initialize it by calling the init method:

In [14]:
# Object b should have 2*data as init variable
a = MyAvg(data)
b = MyAvg(2*data)

# Class Inheritance

In [15]:

class MyAvgStd(MyAvg):
    def var(self): # method for estimating variance
        u = self.avg()
        return np.sqrt(np.sum((self.d - u)**2)/len(self.d))

Instantiate object c with class MyAvgStd, get and print avg and var output methods

In [17]:
c = MyAvgStd(data)
print(c.avg())
print(c.var())

92.83333333333333
129.294775180163

# Callable Object

Example

In [18]:
class Scale():
    def __init__(self, w):
        self._w = w
    def __call__(self, x):
        return x * self._w

In [19]:
s = Scale(100.)
print(s(5))

500.0

Exercise: Define an inheritance class of Scale class that allows to modify the variable self._w

In [23]:
class TuneWeights(Scale):
    def wset(self, new_value):
        self._w = new_value

In [24]:
ap = TuneWeights(100.)
print(ap(5))

500.0

In [25]:
ap.wset(200)
print(ap(5))

1000